<!DOCTYPE html>
 @*Layout yra vienas is Footer, Menu ir kitu sasaju, kurie bus naudojami VISUR, KIEKVIENAME Views*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody() @*Iskviecia pilna esanti View Koda*@
    </div>
</body>
</html>
