@*@using CarAndGo.ViewModels;
@model CarsListViewModel 
    Tai Nera dabar butina rasyti kiekvienam View, nes mes naudojame ViewImports *@

@*@{
    Layout = "_Layout.cshtml";
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h2> Visi musu automobiliai</h2>
    <!-- VieBag.Name - Name is the name we choose in out controller -->
    <h2>@Model.CurrentCategory</h2>

    @{ 
        foreach(var car in Model.Cars)
        {
            <div>
                <h2> Model: @car.Name </h2>
                <p> Price: @car.Price.ToString("c") </p>
            </div>
        }
    }
</body>
</html>
