@*@using CarAndGo.ViewModels;
@model CarsListViewModel 
    Tai Nera dabar butina rasyti kiekvienam View, nes mes naudojame ViewImports *@

@*@{
    Layout = "_Layout.cshtml";
}*@


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h2> Visi musu automobiliai</h2>
    <!-- VieBag.Name - Name is the name we choose in out controller -->
    <h2>@Model.CurrentCategory</h2>

    <div class="row mt-5 mb-2">
        @{
            foreach (Car car in Model.Cars)
            {
                @Html.Partial("AllCars", car) <!--Sablono pajungimas su Partial funkcija car objekta kuri perduodam-->
            }
        }
    </div>
</body>
</html>
